/PorssisalkkuOMX/target/
/UusitestporssisalkkuOMX/nbproject/private/
/UusitestporssisalkkuOMX/build/
/mavenproject2/target/
/mavenproject1/target/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/